@import "quasar-variables";

$gradient-ps: linear-gradient(to right, $primary, $secondary);
$gradient-sl: linear-gradient(to right, $secondary, $blank);
$gradient-la: linear-gradient(to right, $blank, $accent);

.btn-act {
  color: $blank;
  padding: 0.4rem;
  background-color: $primary;
  transition: color 0.3s;
  position: relative;
  &:hover {
    color: $accent;
  }
}

.btn-bar{
  gap: 0.75rem;
  height: fit-content;
  background-color: transparent;
  padding: 0.25rem 0;
  align-items: end;
}

.page-title{
  align-items: center;
  vertical-align: center;
  text-align: center;
  font-size: 2rem;
  color: $primary;
  margin: 2rem;
}

.custom-header {
  color: $secondary;
  font-family: 'Roboto Mono', monospace;
  user-select: none;
  cursor: default;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  max-width: 80%;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 1.2rem; // Smaller font size for mobile devices
  }
}

div{
  cursor: default;
  user-select: none;
}

html,body{
  margin: 0;
  padding: 0;
  min-width: 240px;
}

.color-primary{
  color: $primary;
}